html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 * game renderer 
 */
.game-renderer {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
}

/* adaptar pantalla de juego */
@media (orientation:portrait) {
    .game-renderer {
        width: 100vw;
        height: calc(100vw * (100vw/100vh));
    }
}

@media (orientation:landscape) {
    .game-renderer {
        width: 100vw;
        height: 100vh;
    }
}